@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {
    margin: 0; padding: 0;
    font-family: 'Open Sans', sans-serif;    
}
.header{
    background-color: royalblue;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}
.header h1{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;    
    display: inline-block;
}

.footer{
    background-color: rgba(65, 105, 225, 0.795);
    height: 100px;
}
.footer p{
    color: white;
    text-align: center;
    padding: 20px;
}

/* conteúdo */
.conteudo{
    margin: 0 auto;
    padding: 10px 60px;
}

/* links */
a{
    color: royalblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* menu */
nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
nav > ul > li > a{
    display: inline-block;
    color: white;
    padding: 10px;
}
nav > ul > li > a:visited{
    color: white;
}
nav > ul > li > a:hover{
    color: royalblue;
    background-color: white;
    text-decoration: none;
}

/* post */
.titulo-post{
    padding: 40px 10px;
    text-align: center;
    font-size: 30px;
}
