<div class="cookies">
  <div class="cookies__text">
    Este site usa cookies próprios e de terceiros para melhorar os seus serviços, elaborar informação estatística e mostrar conteúdos ou serviços personalizados através da análise da sua navegação. Para aceitar o seu uso, você pode clicar em Aceitar ou continuar navegando. Além disso, você pode configurar ou rejeitar o uso de cookies ajustando suas Configurações. Para obter mais informações sobre o uso de cookies e seus direitos, acesse nossa <a href="/privacidade">Política de Cookies</a>
  </div>
  <div class="cookies__accept">
    <button class="cookies__button" id="btnacceptcookies">Aceitar</button>
  </div>
</div>
