<header class="header">
  <nav class="menu">
    <ul class="menu__bar">
      <li class="menu__item"><a href="/" alt="Início" title="Início"><img src="/assets/images/menu/home.svg" width="33" height="33"></a></li>
      <li class="menu__item"><a href="#" alt="Pesquisar" title="Pesquisar" id="showsearch"><img src="/assets/images/menu/search.svg" width="33" height="33"></a></li>
      <li class="menu__item"><a href="/disciplinas" alt="Disciplinas" title="Disciplinas"><img src="/assets/images/menu/academic.svg" width="33" height="33"></a></li>
    </ul>
    <ul class="menu__bar">
      <li class="menu__item"><a href="#" alt="Ir para o topo" title="Ir para o topo" id="gotop"><img src="/assets/images/menu/topo.svg" width="33" height="33"></a></li>
      <li class="menu__item"><a href="https://github.com/marcoaugustoandrade/" alt="GitHub" title="GitHub"><img src="/assets/images/menu/github.svg" width="33" height="33"></a></li>
      <li class="menu__item"><a href="/feed.xml" alt="RSS" title="RSS"><img src="/assets/images/menu/rss.svg" width="33" height="33"></a></li>
      <li class="menu__item"><a href="#" alt="Notificações" title="Notificações"><img src="/assets/images/menu/notification.svg" width="33" height="33"></a></li>
      <li class="menu__item"><a href="#" alt="Trocar tema" title="Trocar tema" id="theme"><img src="/assets/images/menu/theme.svg" width="33" height="33"></a></li>
    </ul>
  </nav>
</header>
