body{
  background-color: #0C1217;
}

/* content */
.content, .content__title, .content_date{
  color: #F2F2F2;
}
.content__autor{
  border: 0.2em #F2F2F2 solid;
}
.content_code{
  background-color: #333A40;
}

/* Creative commons */
.license__text{
  color: #FFF;
}

/* cookies */
.cookies{
  color: #0C1217;
  background-color: #FFFFFF;
}
