body{
  background-color: FFF;
}

/* content */
.content, .content__title, .content_date{
  color: #0C1217;
}
.content__autor{
  border: 0.2em #192734 solid;
}
.content_code{
  background-color: #D6D8D9;
}

/* cookies */
.cookies{
  color: #F2F2F2;
  background-color: #0C1217;
}
