.highlight {
  background-color: #333A40;
  border-left: 0.25em solid rgba(235, 58, 58, 0.9);
  padding: 0 0 1em 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  /* Resolve o bug do código sair da caixa adicionando uma scroll horizontal */
  overflow-x: auto;
  white-space: nowrap;
}

// Botão copiar
.highlight > pre > div{
  display: flex;
  flex-direction: row-reverse;
}
.btn-copy{
  color: #FFF;
  background-color: #EB3A3A;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-copy:hover{
  background-color: rgba(235, 58, 58, 0.774);
}
// Botão copiar

.highlighter-rouge{
  background: rgba(235, 58, 58, 0.9);
  color: #FFFFFF;
  padding: 0.2em;
  border-radius: 0.2em;
}
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

    /* theme gruvbox dark */

    .highlight table td { padding: 5px; }
    .highlight table pre { margin: 0; }
    .highlight, .highlight .w {
      color: #fbf1c7;
      background-color: #282828;
    }
    .highlight .err {
      color: #fb4934;
      background-color: #282828;
      font-weight: bold;
    }
    .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
      color: #928374;
      font-style: italic;
    }
    .highlight .cp {
      color: #8ec07c;
    }
    .highlight .nt {
      color: #fb4934;
    }
    .highlight .o, .highlight .ow {
      color: #fbf1c7;
    }
    .highlight .p, .highlight .pi {
      color: #fbf1c7;
    }
    .highlight .gi {
      color: #b8bb26;
      background-color: #282828;
    }
    .highlight .gd {
      color: #fb4934;
      background-color: #282828;
    }
    .highlight .gh {
      color: #b8bb26;
      font-weight: bold;
    }
    .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
      color: #fb4934;
    }
    .highlight .kc {
      color: #d3869b;
    }
    .highlight .kt {
      color: #fabd2f;
    }
    .highlight .kd {
      color: #fe8019;
    }
    .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
      color: #b8bb26;
      font-style: italic;
    }
    .highlight .si {
      color: #b8bb26;
      font-style: italic;
    }
    .highlight .sr {
      color: #b8bb26;
      font-style: italic;
    }
    .highlight .se {
      color: #fe8019;
    }
    .highlight .nn {
      color: #8ec07c;
    }
    .highlight .nc {
      color: #8ec07c;
    }
    .highlight .no {
      color: #d3869b;
    }
    .highlight .na {
      color: #b8bb26;
    }
    .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
      color: #d3869b;
    }
    .highlight .ss {
      color: #83a598;
    }
    