* {
    margin: 0; padding: 0; border: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url("../images/pexels-photo-97077.jpeg");
}
::selection{
    background-color: rgba(231, 76, 60, 0.71);
}
.site-content{
    display: flex;
    flex-direction: column;
    justify-content: center; /* alinhamento horizontal */
    align-items: center; /* alinhamento vertical */
    /*margin-top: 15%;*/
    height: 100vh;
}
.site-picture{
    border-radius: 50%;
    border: 0.5em royalblue solid;
    margin-bottom: 2em;
}
.site-title{
    /*flex: 1;*/
    color: royalblue;
    text-align: center;  
    font-size: 3em;
    text-shadow: 0.05em 0.05em black;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.80);
    width: 93%;
}
.list-links ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}
.list-links ul li{
    margin: 1em;
}
.list-links ul li a{
    color: black;
    /*color: #e74c3c;*/
    font-size: 1.2em; 
    text-decoration: none;
    padding: 0.5em 1em;    
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 0.2em;
    text-shadow: 0.05em 0.05em royalblue;
}
.list-links ul li a:hover{
    color: white;
    /*background-color: rgba(65, 105, 225, 0.90);*/
    background-color: #e74c3c;
    text-shadow: 0.05em 0.05em black;
}
.ovni{
    position: fixed;
    top: 200px;
    left: 30px;
}
.ovni:hover{
    left: 60px;
}