/* css reset */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* css reset */

/* begin links */
a{
    text-decoration: none;
    padding: 0.1em;
    color: rgb(25, 134, 206);
}
a:hover{
    border-bottom: 2px dashed #2980B9;  
    background-color: rgb(250, 250, 182);
}
/* end links */

/* begin header*/
.header{
    background-color: #2980B9;
}
    /* begin acessible menu*/
    .header__menu-acessivel{
        display: none;
    }
    .header__menu-acessivel > li{
        display: inline-block;
        padding: 3px;
    }
    .header__menu-acessivel > li > a{
        text-decoration: none;
        font-size: 11px;
        color: white;
        padding: 1px;
    }
    .header__menu-acessivel > li > a:hover{
        background-color: lightgray;
        color: #2980B9;
        border: none !important;
    }
    .header__menu-acessivel > li > a > span{
        background-color: lightgray;
        color: black;
        padding: 0 1px;
    }    
    @media (min-width: 768px){
        .header__menu-acessivel{
            display: flex;
            list-style: none;
            padding: 0.1em;
            justify-content: flex-start;
        }
    }
    @media (min-width: 992px){
        .header__menu-acessivel{
            padding: 0.5em 6.4em;
        }
    }
    @media (min-width: 1200px){
        .header__menu-acessivel{
            margin: 0 10px;
        }
    }
    /* end acessible menu*/

    /* begin title */
    .header__title{
        text-align: center;
        padding: 0.5em;
    }
    .header__title-link{
        color: white;
        
        padding: 0px;
    }
    .header__title-link:hover{
        border: none;
        background-color: #2980B9;
    }
    @media (min-width: 720px){
        .header__title{
            text-align: left;
            margin: 0 3em;
        }
    }
    /* end title */

    /* begin menu */
    .header__menu{
        background-color: #5499C7;
    }
    .header__menu-lista{   
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
    }
    @media (min-width: 720px){
        .header__menu-lista{
            margin: 0 7em;
            justify-content: start;
        }
    }
    .header__menu-link{
        color: white;
        text-decoration: none;
        border: none !important;
        display: inline-block;
        padding: 10px
    }
    .header__menu-link:hover{
        color: white;
        background-color: #E74C3C;
        
    }
    .header__menu--active{
        background-color: #E74C3C;
    }
    /* end menu */

/* end header*/

/* begin index content */
.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 720px) {
    .index{
        flex-direction: row;
        align-items: initial;
        margin: 1em 6em;
        min-height: 60vh;
    }
}
.index__photo{
    border-radius: 3px;
    border: 1px solid #2980B9;
    margin: 1em;
    width: 200px;
    transition: transform .2s;
}
.index__photo:hover{
    transform: scale(1.08);
    opacity: 0.9;
}
.index__texto > p{
    padding: 10px;
    text-align: left;
    line-height: 1.5;
}
/* end index content */

/* begin footer */
.footer{
    background-color: #5499C7;
    color: white;
    padding: 5px 5px;
    height: 100px;;
}
.footer__icons{
    margin: 0 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__icons-link:hover{
    border: none !important;
    background-color: #5499C7;
}
@media (min-width: 720px){
    .footer__icons{
        flex-direction: row;
        padding: 5px 5px;
    }
}
.topo{
    color: white;
    background-color: #E74C3C;
    padding: 0.8em;
    border-radius: 50%;
    font-size: 0.5em;
    cursor: pointer;
    margin: 1em 2em;
    position: fixed;
    bottom: 4em;
    right: 2em;
    display: none;
}
@media (min-width: 768px){
    .topo{
        bottom: 4em;
        right: 14em;
    }
}
.topo:hover{
    background-color: rgba(231, 77, 60, 0.801);
}
/* end footer */

/* begin post/page content */
.post{
    margin: 0.5em;
}
.post__title{
    text-align: center;
    padding: 1em;
}
.post__content{
    margin: 1em;
}
.post__content > p{
    line-height: 1.5;
    margin: 1em 0;
}
.post__content > h2{
    margin: 1.5em 0;
}
.post__content > ul, .post__content > ol{
    padding-left: 1.5em;
}
.post__content > ul > li{
    margin-bottom: 0.5em;
}
@media (min-width: 768px){
    .post{
        margin: 1em 6em;
    }
    .post__title{
        text-align: center;
        padding: 1em;
    }
}
/* end post/page content */