<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#2980B9">
    <title>
        {% if page.title %} {{ page.title }}
        {% else %} {{ site.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">
</head>
<body>
    {% include search.html %}
    {% include header.html %}
    <style>
        
    </style>
    <main class="post" id="conteudo">
        <h1 class="post__title">{{page.title}}</h1>
        <div class="post__content" markdown="1">{{content}}</div>
    </main>
    {% include footer.html %}
    {% include analytics.html %}
</body>
</html>