<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
      {% if page.title %} {{ page.title }}
      {% else %} {{ site.title }}
      {% endif %}
  </title>
  {% include favicon.html %}

  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/dark.css" id="style">
  <link rel="stylesheet" href="/assets/css/highlight.css">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet"> 
</head>
<body onload="verifyTheme()">
  
  {% include header.html %}
  
  <main class="content" markdown="1">
    <img src="/assets/images/marco.jpg" alt="Professor Marco Antonio Andrade" class="content__autor">
    
    <h1 class="content__title">{{page.title}}</h1>
    
    <div class="content__date">
      {{page.date | date: "%d/%m/%Y"}} - 
      <span class="content__readingtime" title="Tempo estimado para leitura">
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min de leitura
        {% else %}
          {{ words | divided_by:180 }} mins de leitura
        {% endif %}
      </span>
    </div>
    
    <div>{{content}}</div>
  </main>
  
  {% include footer.html %}
  {% include analytics.html %}

  <script src="/assets/js/functions.js"></script>
  <script>verifyCookie();</script>
</body>
</html>
